@using WMS.Core.Models.Dashboards
@using WMS.Core.Services.Dashboards
@using WMS.Core.Extensions
<div class="card">
    <div class="card-header">
        Sales/Purchases
    </div>
    <div class="card-body">
        <DxPieChart Data="@salesData"
                    Diameter="diameter"
                    InnerDiameter="innerDiameter"
                    T="DashboardSaleTurnoverItem">
            <DxPieChartSeries T="DashboardSaleTurnoverItem"
                              TArgument="string"
                              TValue="decimal"
                              ValueField="si => si.Amount"
                              ArgumentField="si => si.CustomerName"
                              SummaryMethod="Enumerable.Sum">
                <DxChartSeriesLabel Visible="showLabels"
                                    Position="labelPosition"
                                    Format="ChartElementFormat.Thousands(1)">
                    <DxChartSeriesLabelConnector Visible="true"/>
                </DxChartSeriesLabel>
            </DxPieChartSeries>
            <DxChartTooltip Enabled="true"
                            Position="RelativePosition.Outside">
                <div style="margin: 0.75rem">
                    <div class="fw-bold">@context.Point.Argument</div>
                    <div>Sales: @($"{context.Point.Value:#,0.}")</div>
                </div>
            </DxChartTooltip>
            <DxChartTitle Text="Sales by Customer">
                <DxChartSubTitle Text="GEL"/>
            </DxChartTitle>
            <DxChartLegend HorizontalAlignment="HorizontalAlignment.Center"
                           VerticalAlignment="VerticalEdge.Bottom"
                           Position="RelativePosition.Outside"
                           Orientation="Orientation.Horizontal"/>
        </DxPieChart>
        @* <DxChart Data="chartsData" *@
        @*          Width="100%" *@
        @*          LabelOverlap="ChartLabelOverlap.Hide"> *@
        @*     <DxChartLineSeries Name="Sales" *@
        @*                        T="DashboardSalePurchaseTurnoverItem" *@
        @*                        TArgument="DateTime" *@
        @*                        TValue="decimal" *@
        @*                        ArgumentField="si => si.Date" *@
        @*                        ValueField="si => si.Amount" *@
        @*                        SummaryMethod="Enumerable.Sum" *@
        @*                        Filter='si => si.OperationType == "Sales"' *@
        @*                        HoverMode="ChartContinuousSeriesHoverMode.None"> *@
        @*         <DxChartSeriesPoint Visible=ShowSeriesPointMarkers *@
        @*                             HoverMode="ChartSeriesPointHoverMode.None"/> *@
        @*         <DxChartSeriesLabel Visible=ShowSeriesLabels *@
        @*                             Format="ChartElementFormat.Thousands(1)"/> *@
        @*     </DxChartLineSeries> *@
        @*     <DxChartLineSeries Name="Purchases" *@
        @*                        T="DashboardSalePurchaseTurnoverItem" *@
        @*                        TArgument="DateTime" *@
        @*                        TValue="decimal" *@
        @*                        ArgumentField="si => si.Date" *@
        @*                        ValueField="si => si.Amount" *@
        @*                        SummaryMethod="Enumerable.Sum" *@
        @*                        Filter='si => si.OperationType == "Purchases"' *@
        @*                        HoverMode="ChartContinuousSeriesHoverMode.None"> *@
        @*         <DxChartSeriesPoint Visible=ShowSeriesPointMarkers *@
        @*                             HoverMode="ChartSeriesPointHoverMode.None"/> *@
        @*         <DxChartSeriesLabel Visible=ShowSeriesLabels *@
        @*                             Format="ChartElementFormat.Thousands(1)"/> *@
        @*     </DxChartLineSeries> *@
        @*     <DxChartLegend Position="RelativePosition.Outside" *@
        @*                    HorizontalAlignment="HorizontalAlignment.Right"/> *@
        @*     <DxChartTooltip Enabled="!ShowSeriesLabels" Context="tooltipCtx"> *@
        @*         @tooltipCtx.Point.Render((seriesPoint) => *@
        @*                 @<div style="margin: 0.75rem"> *@
        @*                     <div>@seriesPoint.SeriesName</div> *@
        @*                     <span>@($"{seriesPoint.Argument: MMMM yyyy}: ")</span> *@
        @*                     <span>@($"{seriesPoint.Value: 0,.0}K")</span> *@
        @*                 </div> *@
        @*             ) *@
        @*     </DxChartTooltip> *@
        @* </DxChart> *@
    </div>
</div>

@code {
    IEnumerable<DashboardSaleTurnoverItem> salesData;

    [Parameter]
    public bool ShowSeriesPointMarkers { get; set; }

    [Parameter]
    public bool ShowSeriesLabels { get; set; }

    [Inject]
    public ISalePurchaseCardService SalePurchaseCardService { get; set; }
    double? diameter = null;
    double innerDiameter = 0.5;
    bool showLabels = true;
    RelativePosition labelPosition = RelativePosition.Outside;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        salesData = await SalePurchaseCardService.GetData(System.DateTime.Now.StartOfMonth().AddMonths(-1), System.DateTime.Now.EndOfMonth().AddMonths(1));
    }

}