@page "/pallets"
@using WMS.UI.Shared.Components
@using WMS.Core.Models.DocumentModels.Employes
@using WMS.Core.Models.DocumentModels.StockModels
@inherits BaseListPage

<div class="card">
<div class="card-header d-flex">
    <div class="flex-grow-1"></div>
    <div>
        @if (_isLoading)
        {
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
    </div>
</div>
<div class="card-body">
    <DefaultListToolbar OnNewItemClick="HandleNewItem"
                        OnEditItemClick="HandleEditItem" OnCloneItemClick="HandleCloneItem"
                        OnRefreshDataClick="LoadData"
                        OnColumnChooserClick="HandleClickColumnChooser"
                        SearchText="@_searchText"
                        SearchTextChanged="HandleSearchTextChanged"
                        OnRemoveItemClick="HandleRemoveItem"
                        SelectedItemId="_selectedItemId"
                        ShowDocumentActions="false">
    </DefaultListToolbar>
        <DxGrid Data="_items" @ref="_dataGrid" RowDoubleClick="HandleEditItem"
                SelectionMode="GridSelectionMode.Single"
                AllowSelectRowByClick="true"
                KeyFieldName="Id"
                SelectedDataItemChanged="(o) => _selectedItemId = ((PalletListViewModel)o)?.Id">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Id)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.CreatedUserId)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.CreatedDate)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.UniqueCode)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Name)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.AreaTypeId)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Type)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Quantity)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Width)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Height)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Length)"/>
                <DxGridDataColumn FieldName="@nameof(PalletListViewModel.Weight)"/>
            </Columns>
        </DxGrid>
    @if (_isFailure)
    {
        <div class="alert alert-danger">
            @_errorMessage
        </div>
    }
</div>
</div>

@if (_detailViewPopupVisible)
{
    <PalletDetailViewForm Width="70%"
        IsVisible="_detailViewPopupVisible"
        PopupClosed="HandleDetailViewPopupClosed"
        SelectedItemId="_selectedItemId"/>
}