@page "/positions"
@using WMS.UI.Shared.Components
@using WMS.Core.Models.DocumentModels.Employes
@using WMS.Core.Models.DocumentModels.Positions
@inherits BaseListPage

<div class="card">
<div class="card-header d-flex">
    <div class="flex-grow-1"></div>
    <div>
        @if (_isLoading)
        {
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
    </div>
</div>
<div class="card-body">
    <DefaultListToolbar OnNewItemClick="HandleNewItem"
                        OnEditItemClick="HandleEditItem" OnCloneItemClick="HandleCloneItem"
                        OnRefreshDataClick="LoadData"
                        OnColumnChooserClick="HandleClickColumnChooser"
                        SearchText="@_searchText"
                        SearchTextChanged="HandleSearchTextChanged"
                        OnRemoveItemClick="HandleRemoveItem"
                        SelectedItemId="_selectedItemId"
                        ShowDocumentActions="false">
    </DefaultListToolbar>
        <DxGrid Data="_items" @ref="_dataGrid" RowDoubleClick="HandleEditItem"
                SelectionMode="GridSelectionMode.Single"
                AllowSelectRowByClick="true"
                KeyFieldName="Id"
                SelectedDataItemChanged="(o) => _selectedItemId = ((PositionListViewModel)o)?.Id">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.Description)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.DateOfApproval)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.PositionApproved)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.MainSalary)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.MainWorkScheduleName)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.MainWorkScheduleId)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.CompanyName)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.CompanyId)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.DivisionName)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.DivisionId)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.Id)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.CreatedUserName)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.CreatedUserId)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.CreatedDate)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.Name)"/>
                <DxGridDataColumn FieldName="@nameof(PositionListViewModel.UniqueCode)"/>

            </Columns>
        </DxGrid>
    @if (_isFailure)
    {
        <div class="alert alert-danger">
            @_errorMessage
        </div>
    }
</div>
</div>

@if (_detailViewPopupVisible)
{
    <PositionDetailViewForm Width="70%"
        IsVisible="_detailViewPopupVisible"
        PopupClosed="HandleDetailViewPopupClosed"
        SelectedItemId="_selectedItemId"/>
}