@page "/employees"
@using WMS.UI.Shared.Components
@using WMS.Core.Models.DocumentModels.Employes
@inherits BaseListPage

<div class="card">
<div class="card-header d-flex">
    <div class="flex-grow-1"></div>
    <div>
        @if (_isLoading)
        {
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
    </div>
</div>
<div class="card-body">
    <DefaultListToolbar OnNewItemClick="HandleNewItem"
                        OnEditItemClick="HandleEditItem" OnCloneItemClick="HandleCloneItem"
                        OnRefreshDataClick="LoadData"
                        OnColumnChooserClick="HandleClickColumnChooser"
                        SearchText="@_searchText"
                        SearchTextChanged="HandleSearchTextChanged"
                        OnRemoveItemClick="HandleRemoveItem"
                        SelectedItemId="_selectedItemId"
                        ShowDocumentActions="false">
        <DxToolbarItem Text="Search Mode">
            <DxCheckBox @bind-Checked="@isCheckedF" CheckType="CheckType.Switch" >F</DxCheckBox>
            <DxCheckBox @bind-Checked="@isCheckedM" CheckType="CheckType.Switch" >M</DxCheckBox>
            <DxCheckBox @bind-Checked="@isCheckedL" CheckType="CheckType.Switch" >L</DxCheckBox>
        </DxToolbarItem>
    </DefaultListToolbar>

        <DxGrid Data="_items" @ref="_dataGrid" RowDoubleClick="HandleEditItem"
                SelectionMode="GridSelectionMode.Single"
                AllowSelectRowByClick="true"
                KeyFieldName="Id"
                SelectedDataItemChanged="(o) => _selectedItemId = ((EmployeeListViewModel)o)?.Id">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.FirstName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.MiddleName)" />
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.LastName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.FullName)" />
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.PersonName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.DivisionName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.DivisionId)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.PositionName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.PositionId)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.PersonName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.PersonId)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.HireDate)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.DepartureDate)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.DateOfBirth)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.Gender)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.Tin)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.CreatedUserName)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.CreatedUserId)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.CreatedDate)"/>
                <DxGridDataColumn FieldName="@nameof(EmployeeListViewModel.UniqueCode)"/>
            </Columns>
        </DxGrid>
    @if (_isFailure)
    {
        <div class="alert alert-danger">
            @_errorMessage
        </div>
    }
</div>
</div>

@if (_detailViewPopupVisible)
{
    <EmployeeDetailViewForm
        Width="70%"
        IsVisible="_detailViewPopupVisible"
        PopupClosed="HandleDetailViewPopupClosed"
        SelectedItemId="_selectedItemId"/>
}