@page "/persons"
@using WMS.UI.Shared.Components
@using WMS.Core.Models.DocumentModels.Employes
@using WMS.Core.Models.DocumentModels.Persons
@inherits BaseListPage

<div class="card">
<div class="card-header d-flex">
    <div class="flex-grow-1"></div>
    <div>
        @if (_isLoading)
        {
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
    </div>
</div>
<div class="card-body">
    <DefaultListToolbar OnNewItemClick="HandleNewItem"
                        OnEditItemClick="HandleEditItem" OnCloneItemClick="HandleCloneItem"
                        OnRefreshDataClick="LoadData"
                        OnColumnChooserClick="HandleClickColumnChooser"
                        SearchText="@_searchText"
                        SearchTextChanged="HandleSearchTextChanged"
                        OnRemoveItemClick="HandleRemoveItem"
                        SelectedItemId="_selectedItemId"
                        ShowDocumentActions="false">
    </DefaultListToolbar>
        <DxGrid Data="_items" @ref="_dataGrid" RowDoubleClick="HandleEditItem"
                SelectionMode="GridSelectionMode.Single"
                AllowSelectRowByClick="true"
                KeyFieldName="Id"
                SelectedDataItemChanged="(o) => _selectedItemId = ((PersonListViewModel)o)?.Id">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Email)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.IsEmailValidPerson)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.PhoneNumber)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.ActualAddress)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.ValidToDate)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.IssuedDate)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.IssuedBy)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.DocumentNumber)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.DocumentSeries)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.DocumentType)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Citizenship)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.AddressOfBirth)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.DateOfBirth)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Gender)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Tin)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.LastName)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.FirstName)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Id)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.CreatedUserId)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.CreatedUserName)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.CreatedDate)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.Name)"/>
                <DxGridDataColumn FieldName="@nameof(PersonListViewModel.UniqueCode)"/>
            </Columns>
        </DxGrid>
    @if (_isFailure)
    {
        <div class="alert alert-danger">
            @_errorMessage
        </div>
    }
</div>
</div>

@if (_detailViewPopupVisible)
{
    <PersonDetailViewForm Width="70%"
        IsVisible="_detailViewPopupVisible"
        PopupClosed="HandleDetailViewPopupClosed"
        SelectedItemId="_selectedItemId"/>
}